.header-logo {
top: 0%;
position: absolute;
width: 100%;
z-index: 10;
}

.info-container {
    position: relative;
    margin: 30px 0px;
    width:90%;
    background-color: #2A363B;
    border-radius: 10px;
    opacity: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pattern {
    height: 150px;
}

.fest-box {
    margin-top: 50rem;
    width: 75%;
    height: 500rem;
    margin: 0 auto;
    border-radius: 10px;
}

.info-container h1 {
    color: white;
    font-family: helvetica;
    padding: 1rem;
}

.dark-background {
    background-color: #101624;
}

.funkyred-background {
    background-color: #E8175D;
}

.funkyblue-background {
    background-color: #2F9599;
}

.gradient-yellow {
    background-color: #9DE0AD`;
    
    /* background-image: linear-gradient(to right, #E5FCC2,#9DE0AD,#45ADA8,#547980,#594F4F); */
}

.transparent {
    background-color: transparent !important;
}

.banner {
    opacity: 75%;
}

#video-container {
    top:0%;
    left:0%;
    position: absolute;
    width:100%; 
    z-index: -1;
}

video {
    position:absolute;
    z-index:-1;

}
video.fillWidth {
    width: 100%; 
}

.top-banner {
    height: 8rem;

}

span:hover {
    color:  #2F9599;
}

.rock-out-img {
    background-image: url('https://images.pexels.com/photos/1105666/pexels-photo-1105666.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    
    

}

.background-fest {
    height: 800rem;
}   