.header-logo {
top: 0%;
position: absolute;
width: 100%;
z-index: 10;
}



.info-container {
    
       position: absolute;
        margin: 10rem 10px;
        width:90%;
        top: 0;
        border-radius: 10px;
        opacity: 90%;
        
        z-index: 1;
        text-align: center;

}

.message {
    
    position: absolute;
    margin: 0 auto;
    width:90%;
    top: 0;
    border-radius: 10px;
    opacity: 90%;
    z-index: 1;
    text-align: center;
}

#main-container {
    width: 100%;
    height: 400px;
}

.pattern {
    height: 150px;
}

.fest-box {
    margin-top: 50rem;
    width: 75%;
    height: 100%;
    margin: 0 auto;
    border-radius: 10px;
    background-color: transparent;
}

.info-container h1 {
    color: white;
    font-family: helvetica;
    padding: 1rem;
}

.dark-background {
    background-color: #101624;
}

.funkyred-background {
    background-color: #E8175D;
}

.funkyblue-background {
    background-color: #2F9599;
}

.gradient-yellow {
    background-color: #9DE0AD;
    
    /* background-image: linear-gradient(to right, #E5FCC2,#9DE0AD,#45ADA8,#547980,#594F4F); */
}


.transparent {
    background-color: transparent !important;
}

.banner {
    opacity: 90%;
}

#video-container {
    background-color: black;
    z-index: -1;
    margin: 0 auto;
    position: aboslute;
    top: 0;
    
}

video.fillWidth {
    width: 100%; 
}

.top-banner {
    height: 8rem;

}

h4:hover {
    color:  #E8175D;
    border-bottom: solid 3px #E8175D;
}

.rock-out-img {
    background-image: url('https://images.pexels.com/photos/1105666/pexels-photo-1105666.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.background-fest {
    height: 100%;
}   

ul span {
    color: white;
}

.fixedElement {
    background-color: #c0c0c0;
    position:fixed;
    top:0;
    width:100%;
    z-index:100;
}

.sticky {
    position: sticky; top:0;
}

#vimeo-vid {
position: relative;

overflow: hidden;
background-image: url("https://images.pexels.com/photos/2034851/pexels-photo-2034851.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
width: 100%;
}

